EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBiD6mNaN_dEANMVWw34a_s9JXfZqVxvxo
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=happy-79ddd.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=happy-79ddd
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=happy-79ddd.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=271834576758
EXPO_PUBLIC_FIREBASE_APP_ID=1:271834576758:web:862b36932f9010ccc3ec57
